# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.env
.venv
env/
venv/
ENV/

# Pipenv
# Descomente se NÃO quiser versionar o lock
#Pipfile.lock

# IDEs
.vscode/
.idea/

# Logs
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db